<div class="tab_headline">
  <div class="fl"><strong>Favoritter: Hovedveje som <%= current_user.name %> følger</strong></div>
</div>

<%= render :partial => "currents/current", :collection => @my_currents %>