-if ADDTHIS_ID
  <!-- AddThis Button BEGIN -->
  <script type="text/javascript">var addthis_config = {services_compact: 'facebook, twitter, digg, delicious, reddit, myspace, stumbleupon, google, favorites, email, print, more', data_use_flash: false}</script>
  <a href="http://www.addthis.com/bookmark.php" style="text-decoration:none;" class="addthis_button">Share This</a>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=#{ADDTHIS_ID}"></script>
  <!-- AddThis Button END -->
