-if logged_in?
  %li.subscription
    -if @idea.inventor == current_user && current_user.notify_on_comments?
      You will receive email notifications for new comments on your idea.
      = link_to 'Account settings', edit_user_path
    -elsif current_user.subscribed_ideas.include?(@idea)
      You will receive email notifications for new comments on this idea.
      = link_to_remote 'Stop watching',
                       :url => unsubscribe_idea_path(@idea),
                       :update => 'subscription',
                       :complete => visual_effect(:highlight, 'subscription', :duration => 0.8)
    -else
      = link_to_remote 'Watch this idea',
                       :url => subscribe_idea_path(@idea),
                       :update => 'subscription',
                       :complete => visual_effect(:highlight, 'subscription', :duration => 0.8)
