<div class="body_wrap">
  <!--Left Panel Starts -->
  <div class="left_panel">
    <!--Profile Top Stuff Starts -->
    <div class="profile_wrap">
      <div class="plainwrap">
        <!--User Name Starts -->
        <div class="fl">
          <% if params[:search] == ["hot"] %>
            <h2><span>Hotte ideer: Seneste | </span><a href="/ideas/search/hot">Helt fra starten</a></h2>
         <% elsif params[:search] == ["recent"] %>
            <h2>Seneste ideer</h2>
         <% end %>
        </div>
        <!--User Name Ends -->
        <!--Pagination Starts -->
        <div class="fr" style="margin-top:8px;">
          <%= will_paginate current_objects %>
        </div>
        <!--Pagination Ends -->
      </div>
      <!--Breaker Starts -->
      <div class="b_divider"></div>
      <!--Breaker Ends -->
    </div>
    <!--Profile Top Stuff Ends -->
    <!--Tab Panel Starts -->
    <div class="plainwrap">
      <!--Green Panel Starts -->

      <%=render :partial => 'idea', :collection => current_objects %>

    </div>
    <!--Tab Panel Ends -->
  </div>
  <!--Left Panel Ends -->
  <!--Right Panel Starts -->
  <div class="right_panel">
    <div class="plainwrap"><div id="sidebar" class="aside"><%= render :partial => "shared/sidebar" %></div></div>
    <div class="plainwrap"><a href="/user/index" class="bold_link" style=" padding-left: 10px;">All Users</a></div>
    <!--Display Section Starts -->
    <div id="ajax-tab">

    </div>
    <!--Display Section Ends -->
  </div>
  <!--Right Panel Ends -->
</div>