#intro.section
  .header
    %h2== Have an idea for #{COMPANY_NAME}?
    %p
      We're constantly looking for new ways to improve our business and are asking you to help us by
      %strong sharing
      your own ideas,
      %strong voting
      for ideas you like, and
      %strong discussing
      them with the rest of the community.
    - if logged_in?
      %h3
        %em Share Ideas Now
    - else
      %h3
        %em Get Started Now
        %small or
        = link_to "Sign Up", signup_url
  .body#submit-idea
    = render :partial => 'new'