<html>
  <head></head>
  <body>

    <p>Kære <%= @user.name %></p><br/><br/>

    <p>Du følger nu ideen: <%= link_to @idea.title, idea_url(@idea) %></p><br/>

    <p>Ønsker du ikke længere at få besked, når der
      kommenteres på ideen, skal du blot klikke på "stop følg"-linket på ideen.
    </p>
  </body>
</html>