<html>
  <head></head>
  <body>

    <p>Kære <%= @user.name %>,</p><br/>
    <p>
      Du har valgt at følge hovedvejen: 
      <%= link_to @current.title, @current_url %>
    </p><br/>
    <p>
      Du får fremover besked
      når der tilføjes nye ideer til hovedvejen.
    </p>
    <br/>
    <p>
      Ønsker du ikke længere at få
      besked, skal du blot klikke på "stop følg"-linket på hovedvejen.
    </p>


  </body>
</html>