<html>
  <head></head>
  <body>
    <p>Kære <%= @user.name %></p><br/><br/>
    <p>
      
    Dit password til <%= link_to "Ideportalen", "#{PRODUCTION_HOST}" %>  er blevet ændret. Hvis det er en fejl, så
    send en mail til <%= @user.email %>
    </p>
  </body>
</html>

