<html>
  <head></head>
  <body>
    <p> Kære <%= @user.name %></p><br/><br/> 
    <p>Du kan vælge et nyt password til <%= link_to "Ideportalen", "#{PRODUCTION_HOST}" %>
      ved at klikke på nedenstående link:</p><br/>
    <%= @url %>
  </body>
</html>