%comment
  %id= comment.id
  %idea-id= comment.idea_id
  %created-at= comment.created_at
  %inappropriate-flags= comment.inappropriate_flags
  %text=h comment.text
  %author
    =render :partial => 'users/user', :locals => { :user => comment.author }
