.admin-home h3 {
  margin-top: 2em; }

table.admin-table {
  margin-bottom: 0;
  width: 100%; }
  table.admin-table th {
    padding: 8px 18px 8px 8px;
    padding-top: 10px;
    background: #9ec8f0;
    border-bottom: 2px solid #78a5cf;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; }
  table.admin-table td {
    padding: 8px 18px 8px 8px;
    border-top: 1px solid white;
    border-bottom: 1px solid #cccccc;
    vertical-align: top; }
  table.admin-table tr {
    background: white; }
    table.admin-table tr.unviewed {
      background: #f2f2f2; }
      table.admin-table tr.unviewed:hover {
        background: #ffef1b;
        cursor: pointer; }
        table.admin-table tr.unviewed:hover td {
          border-top-color: #ffef1b;
          border-bottom-color: #decf00; }
    table.admin-table tr:hover {
      background: #fff895;
      cursor: pointer; }
      table.admin-table tr:hover td {
        border-top-color: #fff895;
        border-bottom-color: #decf00; }
    table.admin-table tr th:hover {
      cursor: default; }

.excerpt {
  max-width: 150px;
  overflow: hidden; }

caption {
  padding: 8px 18px 8px 8px; }

table.admin-table.no-hover tr:hover {
  background: none;
  cursor: default; }
table.admin-table.no-hover td {
  border: none; }

.admin-table input[type=checkbox] {
  vertical-align: baseline; }
.admin-table form {
  text-align: center; }

.sort {
  display: inline; }

div.primary {
  color: #425d78;
  font-weight: bold; }
div.secondary {
  color: #666666; }

.warning {
  margin-left: 160px;
  width: 585px; }

.life-cycle {
  margin: 10px 0 0 180px; }

.inplaceeditor-form {
  margin: 0;
  font-weight: normal; }
  .inplaceeditor-form input[type="submit"] {
    margin: 0 0.6em 0 0.4em; }

.new {
  font-weight: bold; }

.life-cycle-edit {
  width: 60ex; }
  .life-cycle-edit .new {
    list-style-type: none; }
  .life-cycle-edit .reorder, .life-cycle-edit .delete {
    margin: 0.4em 0 0 0.8em;
    float: right;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat; }
  .life-cycle-edit .reorder {
    background-image: url("/images/reorder.gif");
    cursor: move; }
  .life-cycle-edit .delete {
    background-image: url("/images/close.gif"); }
  .life-cycle-edit .delete:hover {
    background-position: -10px 0px; }
  .life-cycle-edit .delete-options {
    display: none;
    margin: 0.2em 0 1.2em 0;
    padding: 0.6em 0.8em;
    color: black;
    background: #ffcccc;
    border: 2px solid #ee0000; }
    .life-cycle-edit .delete-options form {
      margin: 0; }

.life-cycle {
  width: 50%; }
  .life-cycle .current-step {
    color: black;
    background: #bbffdd; }
  .life-cycle .future-step {
    color: #aaaaaa; }

body {
  padding-bottom: 100px; }

#bucket {
  padding: 0px 16px;
  background-color: white;
  border-top: 4px solid #999999;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px; }
  #bucket .idea {
    margin: 0 8px 8px 0;
    padding: 4px 8px 4px 18px;
    background-color: #fff895;
    border: 1px solid #decf00;
    border-bottom-width: 2px;
    color: #534d00;
    display: block;
    float: left;
    font-size: 100% !important;
    vertical-align: baseline;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-weight: bold;
    cursor: default; }
    #bucket .idea .remove {
      cursor: pointer;
      display: block;
      float: left;
      height: 16px;
      width: 10px;
      margin: 0 0 0 -12px;
      line-height: 1.8em;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      background: url(../images/close.gif) left center no-repeat; }
      #bucket .idea .remove:hover {
        background-position: -10px center; }
  #bucket .idea.accept-drag {
    background-color: #dfd875;
    border-color: #ae9f00;
    color: #222222; }
  #bucket h3 {
    margin-top: 0;
    margin-bottom: 0.2em;
    padding: 0; }
  #bucket .note {
    clear: both;
    color: #777777;
    margin: 0.3em 0; }
  #bucket:after, #bucket:before {
    content: ".";
    display: block;
    height: 1;
    clear: both;
    visibility: hidden; }

#show-idea-text, #show-current-text {
  background-color: #eeeeff;
  border: 2px solid #cccccc;
  margin: 0 10em 3em 160px;
  padding: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #show-idea-text .edit, #show-current-text .edit {
    float: right; }
  #show-idea-text h1, #show-current-text h1 {
    margin-bottom: 0.5em;
    line-height: 1.3em; }

ol#admin-comments {
  margin: 0 0 0 160px; }
  ol#admin-comments li {
    list-style-type: none; }
  ol#admin-comments .admin-comment {
    margin-bottom: 1em; }
  ol#admin-comments h4 {
    margin-bottom: 0; }
  ol#admin-comments .admin-comment-content {
    margin-left: 1em; }

.graph-box {
  margin-left: 20px; }
  .graph-box #graph {
    width: 800px;
    height: 120px;
    float: left; }
  .graph-box:after {
    content: ".";
    display: block;
    height: 1;
    clear: both;
    visibility: hidden; }
  .graph-box #legend {
    float: left;
    margin-top: 20px; }
  .graph-box #chronology-bubble {
    display: none;
    width: 114px;
    height: 43px;
    background: url("/images/graph-chronology-bubble.png"); }
    .graph-box #chronology-bubble:hover {
      background-position: 0px -43px;
      cursor: pointer; }

.chronology #legend {
  float: right;
  font-weight: bold; }
.chronology .idea-label {
  color: #0064bb; }
.chronology .comment-label {
  color: #d93740; }
.chronology .vote-label {
  color: #ffa700; }
.chronology td.timestamp {
  white-space: nowrap; }

.graph-box #legend, .chronology #legend {
  padding: 0.2em 0;
  width: 9em; }
  .graph-box #legend .time-range, .chronology #legend .time-range {
    margin-left: 1ex;
    font-weight: bold; }
  .graph-box #legend .item .count, .chronology #legend .item .count {
    font-weight: bold;
    float: left;
    clear: left;
    text-align: right;
    width: 4ex;
    margin-right: 1ex; }
