input, textarea {
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    vertical-align: top; }
input.blur, input.example, textarea.blur, textarea.example {
    color: #999; }

.input-text {
    margin: 0;
    padding: 7px 8px 0;
    background-color: #fff;
    border: 2px solid #a6abb0;
    font-size: 14px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 19px;
    width: 284px; }
.input-text.big {
    padding-top: 7px;
    font-size: 14px;
    height: 23px;
    width: 424px; }
.input-text.thin {
    width: 204px; }
.input-text.superthin {
    width: 124px; }

.input-textarea,
.comment-input textarea {
    margin: 0;
    padding: 7px 8px 0;
    background-color: #fff;
    border: 2px solid #a6abb0;
    font-size: 13px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding-bottom: 7px;
    height: 82px;
    width: 424px; }
.input-textarea.big,
.comment-input textarea.big {
    padding-top: 7px;
    font-size: 14px;
    height: 119px; }

.input-text:disabled, .input-textarea:disabled {
    border-color: #e0e0e0; }

.new_submit {
    background-color: #ffe39c;
    border: none;
    padding: 7px 10px;
    border-radius: 			7px; /* CSS3 */
    -moz-border-radius: 	7px; /* Firefox */
    -webkit-border-radius: 	7px; /* Safari and Chrome */
    -khtml-border-radius: 	7px; /* Linux Browsers */
    font-weight: bold;
    color: #786860;
    text-transform: uppercase;
    text-align: center;
    width: 170px;
    cursor: pointer;
}

.idea-admin {
    height: 200px;
    width: 600px; }

.form-group {
    *width:700px;
    margin-bottom: 18px; }
.form-group label {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px; }
.form-group.inline label {
    padding-top: 2px;
    xline-height: 25px;
    float: left;
    min-height: 30px;
    text-align: right;
    width: 128px; }
.form-group.inline label a {
    text-decoration: underline; }
.form-group.inline label small {
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    text-transform: uppercase;
    margin-top: 2px; }
.form-group.inline .note {
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    text-transform: uppercase;
    padding: 4px 0 0 160px;
    clear: left; }
.form-group.inline.no-title, .form-group.inline.checkbox {
    padding-left: 160px; }
.form-group.inline.no-title .note, .form-group.inline.checkbox .note {
    padding: 4px 0 0; }
.form-group.inline.no-title label, .form-group.inline.checkbox label {
    margin-right: 0;
    padding-top: 0;
    font-size: 12px;
    float: none;
    min-height: 18px;
    text-align: left;
    width: auto; }
.form-group.inline > .input-text, .form-group.inline > .input-textarea, .form-group.inline > .input-checkbox, .form-group.inline > .fieldWithErrors {
    float: left; margin-left: 10px; }
.form-group.inline .input-checkbox {
    margin-top: 3px;
    margin-right: 4px; }
.form-group .note {
    margin-bottom: 8px;
    color: #888888; }
.form-group .note a:hover {
    text-decoration: underline; }

.form-submit.inline {
    padding-left: 160px; }
.form-submit.inline .message {
    width: 384px; }

.input-submit {
    border: none;
    cursor: pointer;
    font-size: 0px;
    height: 32px;
    line-height: 0px;
    width: 150px;
    display: inline; }
.input-submit:hover {
    background-position: left -32px; }
.input-submit:active {
    background-position: left -64px; }

#share .input-submit {
    background-image: url(../images/form-submit-share-it.gif); }

#comments .input-submit {
    background-image: url(../images/form-submit-post-comment.gif);
    margin: 0 0 18px -23px; }

#ideas .input-submit {
    background-image: url(../images/form-submit-share-it.gif); }

#submit-login {
    background-image: url(../images/form-submit-login.gif); }

#submit-signup {
    background-image: url(../images/form-submit-signup.gif); }

#submit-update-account {
    background-image: url(../images/form-submit-update-account.gif); }

#submit-save-changes {
    background-image: url(../images/form-submit-save-changes.gif); }

.cancel.button {
    background-image: url(../images/form-cancel.gif); }

#idea_search_box .input-submit {
    background-image: url(../images/form-submit-search.gif); }

#forgot-password .input-submit {
    background-image: url(../images/form-submit-send-reminder.gif); }

#intro .input-submit,
#current .input-submit {
    background-image: url(../images/form-submit-share-it.gif);
    height: 40px;
    width: 166px; }
#intro .input-submit:hover,
#current .input-submit:hover {
    background-position: left -31px; }
#intro .input-submit:active,
#current .input-submit:active {
    background-position: left -80px; }

#current .input-submit {
    margin: 10px 0 0 160px; }

.group label {
    color: #425d78; }

.errorExplanation {
    margin-bottom: 18px;
    padding: 18px 20px 0;
    background-color: #fbe3e4;
    color: #8a1f11;
    overflow: hidden; }
.errorExplanation h2 {
    margin-bottom: 8px;
    color: #740d00;
    font-size: 24px; }
.errorExplanation p {
    margin-bottom: 8px; }
.errorExplanation ul {
    list-style: none; }
.errorExplanation li {
    padding-left: 24px;
    background: url(../images/icn/16-sq-ex.png) left center no-repeat; }

.fieldWithErrors .input-text, .fieldWithErrors .input-textarea {
    background-color: #fbe3e4;
    background-image: none;
    border-color: #fbc2c4; }

.fieldWithErrors + label {
    color: #8a1f11; }
.fieldWithErrors + label a {
    color: #8a1f11;
    text-decoration: underline; }

* {
    margin: 0;
    padding: 0; }

body {
    background-color: #eaeaea;
}
body.home #content {
    min-width: 960px;
}

#wrap {
}

#masthead {
    background: url(../images/header_bg.jpg) repeat-x;
    height: 150px;
    margin-bottom: 7px;
    min-width: 960px; }
#masthead > div {
    background: url(../images/header.jpg) no-repeat right top;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 940px;
    min-height: 150px;
    position: relative;
    width: 940px; }

#share {
    margin-bottom: 10px;
}
#share .body {
    margin-top: 6px;                
    padding: 24px 0 22px;
    background: #2cafa4;
    color: #9ec8f0;
    display: none;
    xtext-shadow: 0 1px 2px #041e36; }
#share .body > div {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 940px;
    position: relative;
    width: 940px; }
#share .body a {
    color: #1c8af1;
    font-weight: bold; }
#share .body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
#share .footer {
    border-top: 1px solid #00274b; }
#share .footer > div {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 940px;
    position: relative;
    width: 940px; }
#share .footer h4 {
    margin: 10px 0 0;
    float: left;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }
#share .footer h4.one {
    margin-left: -20px;
    height: 27px;
    width: 405px; }
#share .footer .tab {
    margin: 0 auto;
    background-color: #EBBA3D;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    border-radius: 			0 0 10px 10px; /* CSS3 */
    -moz-border-radius: 	0 0 10px 10px; /* Firefox */
    -webkit-border-radius: 	0 0 10px 10px; /* Safari and Chrome */
    -khtml-border-radius: 	0 0 10px 10px; /* Linux Browsers */
}
#share .footer .tab span {
    padding: 2px 10px 2px 20px;
    background-position: left center;
    background-repeat: no-repeat; }
#share .footer .tab:hover {
    color: white; }
#share .footer .tab:active {
    color: #425d78; }
#share label strong {
    color: white; }
#share .input-text, #share .input-textarea {
    border-color: #6883a0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 0;
    width: 472px; }
#share .input-textarea {
    *float:left;
}
#share #idea-tags-group {
    margin-bottom: 0; }
#share #idea-tags-group .input-text {
    border:none;
    width: 270px; }
#share .input-submit {
    float: right; margin-right: -3px;}
#share .aside > div {
    margin-bottom: 8px;
    padding: 12px 16px 10px;
    background: #073158;
    overflow: hidden;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
#share .aside h4 {
    margin-bottom: 8px;
    color: white; }
#share .aside p {
    margin-bottom: 0; }
#share .tab {
    position: relative;
    left: 400px;
    xtext-shadow: 0 1px 2px #041e36; }

#content {
    padding-bottom: 48px;
    position: relative;
}
#content > div {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 940px;
    position: relative;
    width: 940px; }
#content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
#footer {
    background-color: none;
    padding: 24px 0 48px;
    clear: both;
    color: #7adbd3;
    width: 100%; }
#footer > div {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 940px;
    position: relative;
    width: 940px; }
#footer h4 {
    color: #08eeda; }
#footer a {
    color: white; }
#footer a:hover {
    border-bottom: 1px solid #cccccc; }
#footer a.bordernone:hover {
    border-bottom: none; }
#footer .nav.ext a:hover {
    border-bottom: none; }
#footer p.credit {
    margin: 0;
    float: right;
    font-size: 11px; }

.currents-page,
.main {
    float: left;
    width: 630px;
    margin-left: 55px; }





img.framed {
    padding: 3px;
    background: white;
    border-bottom: 1px solid #bbbbbb; }

.hide {
    display: none; }

.alert {
    padding: 2px 0 2px 24px;
    background-color: #ffffcc; }

a.admin {
    padding-top: 3px;
    padding-left: 25px; }

.message {
    margin-bottom: 16px; }
.message a {
    font-weight: bold;
    text-decoration: underline; }

.error,
.info,
.success {
    padding: 8px 16px 6px 40px;
    background-position: 16px 9px;
    background-repeat: no-repeat;
    border: 2px solid #dddddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

.error {
    background-color: #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11; }
.error a {
    color: #8a1f11; }

.info {
    background-color: #fff6bf;
    border-color: #ffd324;
    color: #514721; }
.info a {
    color: #514721;
    font-weight: bold;
    text-decoration: underline; }

.success {
    background-color: #e6efc2;
    border-color: #c6d880;
    color: #264409; }
.success a {
    color: #264409; }





#nav-primary {
    float: right;
    position: relative;
    left: -180px;
    top: 107px;
    border-radius: 			10px; /* CSS3 */
    -moz-border-radius: 	10px; /* Firefox */
    -webkit-border-radius: 	10px; /* Safari and Chrome */
    -khtml-border-radius: 	10px; /* Linux Browsers */
}

.nav {
    xbackground-color: #777788; }
.nav.site {
    margin: 0;
    background: url(../images/menu_left.jpg) no-repeat left top;
    float: left;
    /*    width:522px;*/
    height: 30px;
    list-style: none; }
.nav.site li {
    xpadding-left: 2px;
    float: left;
    height: 30px; }
.nav.site li a {
    /*          font-size: 8px;*/
    background-color: #ffe39c;
    padding: 0 10px;
    color: #786860;
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase; }
.nav.site li a:hover {
    color: #fff;
    background-color: #ebba3d; }
.nav.site li.first {
    padding-left: 0;
    background: none;
}

.nav.site li.first a {

    padding-left: 10px;
    border-radius: 			10px 0 0 10px; /* CSS3 */
    -moz-border-radius: 	10px 0 0 10px; /* Firefox */
    -webkit-border-radius: 	10px 0 0 10px; /* Safari and Chrome */
    -khtml-border-radius: 	10px 0 0 10px; /* Linux Browsers */
}
.nav.site li.last a {
    padding-right: 10px;
    /*        font-size: 8px;*/
    border: none; }
.nav.site li.last a {
    background: #ffe39c url(../images/menu_right.jpg) no-repeat right top; }
.nav.site li.last a:hover {
    background: #ebba3d url(../images/menu_right_hov.jpg) no-repeat right top; }
.nav.site.alt.title-ideas {
    xpadding-left: 54px;
    /*      width:194px;*/
    margin-right: 10px; }
.nav.site.alt.admin {
    padding-left: 54px; }
.nav.site li.search input {
    margin: 2px 2px 0 6px;
    padding: 3px 0 3px 4px;
    border: none;
    font-size: 11px;
    line-height: 20px;
    background: none;
    border-radius: 			9px; /* CSS3 */
    -moz-border-radius: 	9px; /* Firefox */
    -webkit-border-radius: 	9px; /* Safari and Chrome */
    -khtml-border-radius: 	9px; /* Linux Browsers */
    height: 20px;
    width: 111px; }
.nav.user {
    margin: 0;
    height: 26px;
    list-style: none;
    position: absolute;
    right: 250px;
    background-color: #328881;
    border-radius: 			5px; /* CSS3 */
    -moz-border-radius: 	5px; /* Firefox */
    -webkit-border-radius: 	5px; /* Safari and Chrome */
    -khtml-border-radius: 	5px; /* Linux Browsers */
    top: 0; }
.nav.user li {
    padding-left: 2px;
    float: left;
    height: 20px; }
.nav.user li form {
    padding: 0 1px;
    color: #ffe39c;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    line-height: 25px; }
.nav.user li a {
    padding: 0 6px;
    color: #ffe39c;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    line-height: 25px; }
.nav.user li a:hover {
    color: white; }
.nav.user li a:active {
    color: #fff; }
.nav.user li.first {
    padding-left: 0;
    background: none; }
.nav.user li.first a, .nav.user li.first form {
    padding-left: 10px; }
.nav.user li.last a, .nav.user li.last form {
    background-position: right top; }
.nav.user li.first.last a, .nav.user li.first.last form {
    padding-left: 0; }
.nav.user li.search input {
    margin: 2px 1px 0 6px;
    padding: 3px 0 3px 4px;
    border: none;
    font-size: 11px;
    background-color: #fff;
    border-radius: 			5px; /* CSS3 */
    -moz-border-radius: 	5px; /* Firefox */
    -webkit-border-radius: 	5px; /* Safari and Chrome */
    -khtml-border-radius: 	5px; /* Linux Browsers */
    height: 16px;
    width: 111px; }

.nav.map {
    margin: 0;
    list-style: none; }
.nav.ext {
    margin: 0;
    list-style: none; }
.nav.supp {
    margin: 0;
    float: left;
    font-size: 11px; }
.nav.supp li {
    xpadding-left: 18px;
    display: inline; }
.nav.supp li.bby {
    padding-left: 0;
    float: left; }
.nav.supp li.bby a {
    height: 18px;
    width: 26px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }

#footer .nav.supp li.bby a:hover {
    background-position: left -18px;
    border-bottom: none; }


#side_right {
    float: left;
    width: 300px;
    margin-left: 25px;
    height: 300px; }

#side_right h2 {
    clear: both;
    font: bold 14px Arial;
    text-transform: uppercase;
    color: #786860;
    margin-bottom: 5px; }

#side_right p {
    color: #786860;
    margin-bottom: 10px; }

#side_right a {
    float: right;
    margin-bottom: 15px;
    background-color: #786860;
    color: #ffe39c;
    border-radius: 			10px; /* CSS3 */
    -moz-border-radius: 		10px; /* Firefox */
    -webkit-border-radius: 	10px; /* Safari and Chrome */
    -khtml-border-radius: 	10px; /* Linux Browsers */
    padding: 5px 10px; }

#side_right a:hover {
    color: #fff; }


body.top-rated .nav li a.top-rated,
body.recent .nav li a.recent,
body.ideas .nav li a.ideas,
body.users .nav li a.users,
body.comments .nav li a.comments,
body.currents .nav li a.currents,
body.life-cycles .nav li a.life-cycles {
    text-shadow: none; }

#intro {
    margin-left: -30px;
    padding: 0px 30px 0;
    height: 290px;
    width: 940px; }
/*#intro #submit-idea #errorExplanation {
    display: none; }*/
#intro #submit-idea .fieldWithErrors .input-text, #intro #submit-idea .fieldWithErrors .input-textarea {
    background-color: #fbe3e4;
    background-image: none;
    border-color: #fbc2c4; }
#intro .header {
    padding: 20px 20px 0;
    float: left;
    text-align: center;
    width: 300px; }
#intro .header h2 {
    margin-top: 10px;
    height: 36px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }
#intro .header p {
    padding: 0 16px;
    color: #444444;
    font-size: 14px;
    line-height: 19px; }
#intro .header p strong {
    color: #425d78; }
#intro .header h3 {
    margin: 0;
    color: #1c8af1; }
#intro .header h3 em {
    margin-bottom: 6px;
    font-style: normal;
    display: block;
    letter-spacing: -1px;
    line-height: 20px; }
#intro .header h3 small {
    margin-bottom: 8px;
    color: #a6abb0;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px; }
#intro .header h3 a {
    margin: 0 auto;
    background-image: url(../images/intro-signup.png);
    height: 70px;
    width: 189px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }
#intro .body {

    padding-top: 0px;
    width: 524px; }
#intro form {
    margin: 3px auto 0 auto;
    width: 530px; }
#intro .form-group {
    margin: 0;
    padding: 5px 0 5px 20px; }
#intro label {
    display: none; }
#intro .input-text {
    border: none;
    background-color: #fff;
    width: 480px; }
#intro .input-text.blur, #intro .input-text.example {
    border: none; }
#intro .input-textarea {
    border: none;
    margin-bottom: 5px;
    width: 480px !important; }
#intro .input-textarea.blur, #intro .input-textarea.example {
    border: none; }
#intro #idea-title-group {
    background: url(../images/intro-form-icon-bulb.png) left top no-repeat; }
#intro #idea-description-group {
    background: url(../images/intro-form-icon-pencil.png) left top no-repeat; }
#intro #idea-tags-group {
    margin-bottom: 5px;
    background: url(../images/intro-form-icon-tag.png) left top no-repeat;
    position: relative; }
#intro #idea-tags-group a {
    font-size: 90%; }
#intro #idea-tags-group #tags {
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 90%;
    color: #454545; }
#intro #idea-tags-group #tags .tag {
    cursor: default;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 0 14px;
    white-space: nowrap; }
#intro #idea-tags-group #tags .tag a {
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    width: 10px;
    margin: 0 0 0 -12px;
    line-height: 1.8em;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    background: url(../images/close.gif) left center no-repeat; }
#intro #idea-tags-group #tags .tag a:hover {
    background-position: -10px center; }
#intro #idea-tags-group .input-text {
    float: left;
    width: 248px;
    margin-right: 10px; }

#intro #idea-tags-group select {
    float: left;
    width: 225px;
    border-radius: 8px 8px 8px 8px;
    border: none;
    font: normal 12px Helvetica;
    color: #888;
    height: 30px;
    padding: 5px; }

#idea-description-group input[type="file"]#idea_document {
    cursor: default;
    -moz-opacity: 0;
    opacity: 0.00;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    width: 495px;
}
#idea-description-group input[type="text"] {
    position: absolute;
    
    background: none;
    border: none;
    padding: 4px 0 0 5px;
}
.input_file {
    *background: url(../images/idea_file_bg.png)  no-repeat scroll -46px 0 transparent;
    float: left;
    background: url(../images/idea_file_bg.png)  no-repeat;
    height: 27px;
    padding-top: 3px;
    margin-left: 8px;
}
form.main .input_file {
    margin-left: 138px !important;

    margin-top: 10px;
}
form.main #idea_current_id {
    float: left;
    width: 185px;
    border: none;
    font: normal 12px Helvetica;
    color: #888;
    height: 30px;
    padding: 5px;
    margin-left: 10px; }
form.main .input-submit {
    margin: 10px 35px 0 0; }
form.main .tagify-container {
    border-radius:5px;
    margin: 0 0 0 10px;
    height: 60px;
    overflow: hidden;
    width: 267px;

}
#intro .input-submit {
    float: right;
    margin-right: 5px;
    margin-top: -5px; }
#intro p.note {
    background: url(../images/intro-form-note.png) no-repeat scroll left top transparent;
    color: #425D78;
    font-size: 11px;
    height: 37px;
    line-height: 37px;
    margin-bottom: 0;
    margin-left: 30px;
    text-align: center;
    width: 500px;
    display: none;
}

#instructions h2.header {
    margin-top: 24px;
    margin-bottom: 10px; }
#instructions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.instruction {
    margin-right: 20px;
    margin-left: -4px;
    padding-left: 4px;
    padding-top: 5px;
    float: left;
    width: 220px;
    background-color: #fff; }
.instruction h3 {
    margin-bottom: 0;
    padding-left: 12px;
    background-position: left top;
    background-repeat: no-repeat;
    color: #2eafa4;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px 2px #eee;
    height: 36px;
    line-height: 40px; }
.instruction h3 em {
    font-style: normal;
    font-size: 16px; text-transform: none;
    font-weight: bold; }
.instruction .figure img {
    margin: 0 0 3px 10px;
    padding-left: 3px;
    display: block; }
.instruction .figure p {
    padding: 10px 15px 5px 12px;
    color: #555;
    font-size: 12px;80
    text-align: center;
    background-color: #fff;
    width: 190px; }
.instruction.four {
    margin-right: 0; }
.instruction p {
    text-shadow: 0 1px 2px white; }

.ideas-group {
    margin-right: 20px;
    float: left;
    width: 220px; }
.ideas-group.last {
    margin-right: 0; }

.panel {
    margin-left: -5px;
    position: relative;
    width: 677px;
    background-color: #fff; }
.panel .bordy {
    margin: 0 25px;
    width: 620px;
    border-radius: 15px; /* CSS3 */
    -moz-border-radius: 	15px; /* Firefox */
    -webkit-border-radius: 	15px; /* Safari and Chrome */
    -khtml-border-radius: 	15px; /* Linux Browsers */
    min-height: 225px;
    overflow: hidden; }
.panel .body.ideas {
    margin: 0; }
.panel .body b {
    padding-left: 15px; }
.panel .footer {
    padding-right: 5px;
    padding-left: 5px;
    width: 620px;
    padding-bottom: 7px;
    min-height: 15px; }
.panel .footer p {
    margin-bottom: 0;
    padding: 16px 20px 12px;
    color: #888888;
    font-size: 16px;
    min-height: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
.panel .header {
    padding: 21px 25px 0px;
    width: 650px; }
.panel .header h2 {
    overflow: hidden; }
.panel .header h2 span {
    vertical-align: text-bottom; }
.panel .header h3 {
    line-height: 30px; }
.panel .header h3 span {
    vertical-align: text-bottom; }
.panel.full {
    width: 950px; }
.panel.full .body {
    width: 940px; }
.panel.full .body .body-content {
    padding: 0 20px; }
.panel.full .footer {
    width: 940px; }
.panel.full .header {
    width: 900px; }
.panel.summary {
    width: 254px;
    border-radius: 			15px; /* CSS3 */
    -moz-border-radius: 	15px; /* Firefox */
    -webkit-border-radius: 	15px; /* Safari and Chrome */
    -khtml-border-radius: 	15px; /* Linux Browsers */
    background: #fff url(../images/pannel_top.jpg) no-repeat; }
.panel.summary .body {
    width: 225px; }
.panel.summary .footer {
    width: 215px;
    background: #fff url(../images/pannel_bot.jpg) no-repeat left bottom; }
.panel.summary .header {
    padding: 15px 12px 12px 18px;
    width: 195px; }
.panel.summary .header h3 {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #2eafa4;
    text-transform: uppercase;
    padding-left: 0; }
.panel.summary .pagination {
    font-size: 14px; }


body.login .header, body.login .message.info, body.login .footer
{
    display: none;
}

body.login .main .header
{
    display: block;
}

body.login .panel
{
    margin: 250px 0 0 700px !important;
    position: relative;
    width: 325px !important;
    height: 248px;
    background: #ffe39c url(../images/login_pannel_bg.jpg) no-repeat;
    border-radius: 			10px; /* CSS3 */
    -moz-border-radius: 	10px; /* Firefox */
    -webkit-border-radius: 	10px; /* Safari and Chrome */
    -khtml-border-radius: 	10px; /* Linux Browsers */
}

body.login .panel .header
{
    padding: 15px 20px !important;
    width: auto !important;
}

body.login .panel .header h2
{
    font: bold 18px Arial;
    color: #786860 !important;
    margin: 0;
    max-width: 300px !important;
    overflow: hidden;
    padding: 0;
    text-transform: none;
}

body.login .panel .body
{
    padding: 5px 7px !important;
    width: auto !important;
    min-height: 100px !important;
    margin: 0 15px;
}

body.login .input-text.big
{
    border: none;
    width: 160px !important;
    background: url(../images/login_input.jpg) no-repeat;
    padding-top: 3px !important;
    padding-bottom: 4px !important;
}

body.login .form-group.inline label
{
    margin-right: 0 !important;
    min-height: 18px !important;
    padding-top: 0 !important;
    text-align: left !important;
    width: 95px !important;
    color: #786860 !important;
    text-shadow: none;
    font: bold 12px/30px Arial;
}

body.login .form-group.inline.no-title, body.login .form-group.inline.checkbox
{
    padding-left: 95px !important;
    color: #786860 !important;
    font-style: italic;
}

body.login .form-group
{
    margin-bottom: 7px !important;
}

body.login .form-group.inline .input-checkbox
{
    margin-top: 8px !important;
}

body.login #submit-login
{
    background: url(../images/login_but.jpg) no-repeat;
    text-indent: 0 !important;
    border-radius: 			8px; /* CSS3 */
    -moz-border-radius: 	8px; /* Firefox */
    -webkit-border-radius: 	8px; /* Safari and Chrome */
    -khtml-border-radius: 	8px; /* Linux Browsers */
    font: bold 12px Arial;
    color: #fff;
    height: 25px !important;
    width: 100px !important;
    padding-bottom: 5px !important;
}

body.login .form-submit.inline
{
    padding: 0 0 7px 175px !important;
    margin-bottom: 5px;
}


h3.icon {
    padding-left: 24px;
    background-position: left center;
    background-repeat: no-repeat; }

.icon {
    padding: 2px 0 2px 24px;
    background-position: left center;
    background-repeat: no-repeat; }



.actions {
    margin: 0;
    list-style: none;
    position: absolute;
    right: 25px;
    top: 24px; }
.actions li {
    margin-left: 8px;
    padding-left: 5px;
    float: left;
    height: 25px; }
.actions li a {
    padding: 5px 10px 0 5px;
    background: #cccccc;
    color: #444444;
    display: block;
    font-size: 11px;
    height: 20px;
    text-shadow: 0 1px 1px white;
    border-radius: 			5px; /* CSS3 */
    -moz-border-radius: 	5px; /* Firefox */
    -webkit-border-radius: 	5px; /* Safari and Chrome */
    -khtml-border-radius: 	5px; /* Linux Browsers */ }
.actions li a img {
    margin-right: 2px;
    vertical-align: top; }
.actions li a:hover {
    color: #425d78; }
.actions li a:active {
    color: #444444; }
.actions li.input {
    padding-left: 0;
    background: none; }
.actions .input-custom {
    margin-right: 16px;
    padding-top: 8px;
    padding-left: 12px;
    border: none;
    font-size: 14px;
    height: 18px;
    outline: none;
    width: 60px; }
.actions .input-custom.long {
    width: 210px; }
.actions .input-select {
    margin-top: 3px;
    vertical-align: middle; }
.actions label, .actions .input-submit {
    display: none !important; }

.panel.summary .actions {
    top: 14px; }
.panel.summary .actions li {
    margin-left: 2px;
    padding-left: 0;
    background: none; }
.panel.summary .actions li a {
    padding-right: 0;
    background: none; }

.inset {
    padding-top: 6px;
    overflow: hidden; }
.inset > div {
    padding-bottom: 5px; }
.votes.inset > div {
    padding-bottom: 2px; }

.group {
    /*padding: 18px 0;*/
    /*----- STYLE NEEDED ----- */
    /*----- /STYLE NEEDED ----- */ }
.group > h2, .group > h3, .group > h4, .group > h5, .group > p, .group > ol {
    padding-left: 20px;
    padding-top: 10px; }
.group.slate {
    background: #e6e3e1;
    margin: 0 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid #ced6dd; }
body.search .group.slate {
    padding: 15px 0;
}
body.search .group.slate .form-submit.inline {
    padding-left: 135px;  }
.group form label {
    text-shadow: 0 1px 2px white; }
.group form label em {
    font-weight: normal;
    text-transform: uppercase;
    color: #666666;
    font-size: 10px; }
.group .more {
    text-align: right;
    font-weight: bold;
    font-size: 120%;
    margin: 1em; }

.content {
    margin-right: 20px;
    margin-left: 20px; }

.body.content {
    margin-right: 0;
    margin-left: 0;
    padding-right: 25px;
    padding-left: 25px; }

.idea {
    xbackground-color: #cccccc;
    position: relative; }
.idea .entry-meta {
    margin: 0;
    list-style: none; }
.idea .entry-meta li {
    margin: 0 0 6px 0;
    padding-left: 20px;
    padding-top: 3px;
    background-position: left top;
    background-repeat: no-repeat; }
.idea .entry-meta li.ideas {
    background-image: url(../images/idea-marker.png); }

.idea.main .header {
    padding-right: 155px;
    width: 450px; }
.idea.main .entry-title {
    margin-bottom: 4px; }
.idea.main .posted {
    font-size: 14px; }
.idea.main .vote {
    background: #bbbbbb;
    right: 25px;
    top: 20px; }
.idea.main .vote-for-it a,
.idea.main .vote-for-it span {
    margin: 0;
    margin-left: 2px;
    background-image: url(../images/idea-vote-button.gif);
    height: 26px;
    width: 106px; }
.idea.main .vote-for-it a:hover {
    background-position: left -26px; }
.idea.main .vote-for-it a:active {
    background-position: left -52px; }
.idea.main .vote-for-it span {
    background-position: left -78px; }
.idea.main .entry-content {
    margin-bottom: 36px;
    padding: 0 150px 0 10px;
    font-size: 14px;
    line-height: 20px; }
.idea.main .entry-meta li {
    margin-bottom: 6px;
    padding-left: 24px; }
.idea.main .entry-meta li a {
    font-weight: bold; }
.idea.main .current-idea-list .entry-content {
    padding: 0;
    margin: 0; }
.idea.main .current-idea-list .entry-meta li {
    margin-bottom: 0; }
.idea.teaser {
    margin: 0 auto 4px;
    padding-bottom: 3px;
    width: 640px; }
.idea.teaser:last-child {
    margin-bottom: 0; }
.idea.teaser > div {
    padding-right: 20px;
    padding-left: 153px; }
.idea.teaser > div.the-current {
    padding-left: 20px; }
.idea.teaser .posted {
    margin-bottom: 8px;
    padding-top: 10px;
    height: 24px; }
.idea.teaser .entry-title {
    margin-bottom: 8px;
    line-height: 24px; }
.idea.teaser .entry-title a {
    border-bottom-width: 2px; }
.idea.teaser .vote {
    border: 1px solid #bbb;
    padding: 2px;
    left: 9px;
    top: 10px;
    background: url(../images/idea_bulb.png) no-repeat center bottom;
    border-radius: 			5px; /* CSS3 */
    -moz-border-radius: 	5px; /* Firefox */
    -webkit-border-radius: 	5px; /* Safari and Chrome */
    -khtml-border-radius: 	5px; /* Linux Browsers */ }
.idea.teaser .vote-for-it a,
.idea.teaser .vote-for-it span {
    margin-left: 3px;
    background-image: url(../images/idea-vote-teaser-button.png);
    height: 25px;
    width: 104px; }
.idea.teaser .vote-for-it a:hover {
    background-position: left -25px; }
.idea.teaser .vote-for-it a:active {
    background-position: left -50px; }
.idea.teaser .vote-for-it span {
    background-position: left -75px; }
.idea.teaser .entry-content p {
    font-size: 13px; }
.idea.teaser .entry-meta {
    width: 430px;
    margin-bottom: 8px;
    padding: 6px 8px 4px;
    background: #ffe39c;
    border-radius: 			5px; /* CSS3 */
    -moz-border-radius: 	5px; /* Firefox */
    -webkit-border-radius: 	5px; /* Safari and Chrome */
    -khtml-border-radius: 	5px; /* Linux Browsers */ }
.idea.teaser .entry-meta li {
    float: left; }
.idea.teaser .entry-meta li a {
    color: #425d78; }
.idea.teaser .entry-meta li.tags {
    margin-left: 18px;
    width: 260px; }
.idea.teaser .flag, .idea.teaser .flagged {
    background-image: url(../images/idea-flag.gif);
    height: 21px;
    position: absolute;
    right: 20px;
    top: 7px;
    width: 20px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }
.idea.teaser .flag:hover, .idea.teaser .flag.flagged, .idea.teaser .flagged:hover, .idea.teaser .flagged.flagged {
    background-position: left -21px; }
.idea.teaser .flag .flag:active, .idea.teaser .flagged .flag:active {
    background-position: left -42px; }
.idea.mini {
    margin: 0 2px;
    padding-bottom: 2px;
    min-height: 58px;
    background-color: #ffe39c;
    border-bottom: 1px solid #888; }
.idea.mini.contributor {
    min-height: 20px; }
.idea.mini .title {
    display: table-cell;
    font-weight: normal;
    padding-top: 5px;
    max-width: 155px;
    padding-left: 60px;
    vertical-align: middle; }
.idea.mini.contributor .title {
    display: block;
    padding-top: 3px; }

.idea.mini.contributor span {
    margin: 0 0 0 10px;
    position: relative; }

.idea.mini.contributor span img {
    margin-top: -13px; }

.idea.mini .title .posted {
    margin: 0;
    font-size: 11px; }
.idea.mini.contributor .title .posted {
    display: none; }
.idea.mini .title .entry-title {
    margin: 0;
    font-size: 12px;
    line-height: 10px;
    overflow: hidden; }
.idea.mini.contributor .title .entry-point {
    float: right;
    font-size: 12px; }
.idea.mini .entry-title a {
    font-weight: bold; }
.idea.mini .entry-title .vcard .url {
    color: #1c8af1;
    font-size: 12px;
    font-weight: bold; }
.idea.mini .vote {
    left: 5px;
    top: 5px; }
.idea.mini .vote-count {
    margin-bottom: 1px;
    margin-left: 5px;
    padding-top: 0;
    font-size: 18px;
    height: 37px;
    line-height: 30px;
    width: 40px;
    background: url(../images/vote_bg.png) no-repeat center center; }
.idea.mini .vote-count .points {
    display: none !important; }
.idea.mini .vote-for-it a,
.idea.mini .vote-for-it span {
    margin-left: 5px;
    background: url(../images/idea-vote-mini-button.png) no-repeat top right;
    height: 11px;
    width: 36px; }
.idea.mini .vote-for-it a:hover {
    background-position: right -11px; }
.idea.mini .vote-for-it a:active {
    background-position: left -22px; }
.idea.mini .vote-for-it span {
    background-position: left -33px; }
.idea.mini.first-child, .idea.mini.first {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px; }
.idea.mini.last-child, .idea.mini.last {
    padding-bottom: 2px;
    border-bottom: 1px solid #92c6f8;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px; }
.idea h3.entry-title, .idea h4.entry-title {
}
.idea .vote-for-it a,
.idea .vote-for-it span {
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }

.entry-title a:hover {
    border-bottom: 1px solid #08e7e5; }

.posted {
    clear: left;
    color: #425d78;
    font-size: 12px;
    font-weight: normal; }
.posted a {
    font-weight: bold; }
.posted a:hover {
    text-decoration: underline; }

.published {
    font-weight: bold; }

.vote {
    margin: 0;
    position: absolute;
    list-style: none; }
.vote .vote-count {
    margin-bottom: 3px;
    padding-top: 14px;
    color: #2eafa4;
    font-size: 50px;
    font-weight: bold;
    height: 87px;
    line-height: 50px;
    text-align: center;
    text-indent: -2px;
    width: 110px; }
.vote .vote-count span {
    margin-top: 4px;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase; }
.vote .vote-for-it {
    line-height: 0; }

#idea_search_box {
    xpadding: 0 0; }
#idea_search_box .form-group.inline {
    margin-bottom: 5px; }

.idea-meta,
.current-meta {
    padding: 18px 0;
    margin: 0 10px;
    border-bottom: 1px solid #cccccc; }
.idea-meta > div,
.current-meta > div {
    width: 280px;
    float: left; }
.idea-meta .related-ideas,
.current-meta .related-ideas {
    float: right;
    width: 300px; }
.idea-meta h3,
.current-meta h3 {
    margin-bottom: 8px;
    color: #888888;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 0 1px 2px white; }
.idea-meta li a:hover,
.current-meta li a:hover {
    text-decoration: underline; }
.idea-meta:after,
.current-meta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.currents-page .posted {
    font-size: 14px; }
.currents-page .entry-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
    padding: 0 0 0 20px; }
.currents-page .current-idea-list .entry-content {
    padding: 0;
    margin: 0; }
.currents-page .current-idea-list .entry-meta li {
    margin-bottom: 0; }
.currents-page p.note {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    color: #425d78;
    font-size: 11px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    width: 500px; }

.comments {
    margin-bottom: 18px; }

.comment {
    margin: 0 auto 4px;
    border-top: 1px solid #ddd;
    background: #cccccc;
    min-height: 47px;
    position: relative;
    width: 606px; }
.comment .comment-inner {
    margin-bottom: 30px;
    /*------- STYLE NEEDED ------ */
    /*------- /STYLE NEEDED ------ */ }
.comment .comment-inner .avatar {
    float: left;
    margin: 6px; }
.comment:last-child {
    margin-bottom: 0; }
.comment h4 {
    margin-bottom: 0;
    line-height: 41px;
    position: absolute;
    text-align: right;
    width: 160px;
    text-shadow: 0 1px 2px #dbedff; }
.comment h4 a:hover {
    text-decoration: underline; }
.comment .posted {
    margin-bottom: 8px;
    color: #888888;
    font-size: 13px !important;
    font-weight: normal; }
.comment .flag, .comment .flagged {
    background-image: url(../images/comment-flag.gif);
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9000px; }
.comment .flag:hover, .comment .flag.flagged, .comment .flagged:hover, .comment .flagged.flagged {
    background-position: left -20px; }
.comment .flag.flag:active, .comment .flagged.flag:active {
    background-position: left -40px; }
.comment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.comment-content, .edit-comment-content {
    padding: 12px 18px 0 180px;
    width: 418px; }
.comment-content p:last-child, .edit-comment-content p:last-child {
    margin-bottom: 0; }

.edit-comment-content textarea {
    width: 406px; }
.edit-comment-content .form-submit.inline {
    padding-left: 0; }
.edit-comment-content .form-group.inline label {
    width: auto; }

.form-submit a.cancel {
    float: left;
    height: 32px;
    margin-left: 10px;
    text-indent: -9999px;
    width: 150px; }

.voted-for {
    margin: 0 auto;
    list-style: none;
    width: 600px; }
.voted-for li {
    margin-bottom: 4px;
    padding-left: 93px;
    background: url(../images/voted-for.png) center top no-repeat;
    font-size: 13px;
    height: 41px; }
.voted-for li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 41px; }
.voted-for li a:hover {
    text-decoration: underline; }
.voted-for li abbr {
    margin-left: 8px;
    color: #888888;
    font-weight: normal; }
.voted-for li:last-child {
    margin-bottom: 0; }

.map-big {
    margin: 0 auto;
    border-right: 1px solid #929599;
    border-left: 1px solid #929599;
    border-bottom: 1px solid #5e6063;
    width: 602px; }
.map-big img {
    display: block; }

.map-mini {
    margin-bottom: 4px; }

.map-enlarge {
    margin-bottom: 0;
    text-align: center; }
.map-enlarge a {
    margin-left: -20px;
    padding-left: 20px;
    font-weight: bold; }

.tag-cloud {
    padding: 0 10px; }
.tag-cloud a {
    margin: 0 8px 8px 0;
    padding: 4px 8px 4px 18px;
    background: #ffe29c url(../images/tag-hole.gif) 4px center no-repeat;
    border: 1px solid #decf00;
    border-bottom-width: 2px;
    color: #534d00;
    white-space: nowrap;
    display: block;
    float: left;
    font-size: 100% !important;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 0 1px 2px white; }
.tag-cloud a span {
    color: #425d78;
    font-weight: bold; }
.tag-cloud:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }



.list-block {
    margin: 0;
    list-style: none;
    text-shadow: 0 1px 2px white; }
.list-block li {
    margin-bottom: 1px;
    padding: 4px 8px 3px 0;
    background: #eeeeee;
    border: 1px solid #f9f9f9;
    /*------- STYLE NEEDED ------ */
    /*------- /STYLE NEEDED ------ */ }
.list-block li strong {
    margin-right: 8px;
    border-right: 1px solid #f9f9f9;
    color: #888888;
    float: left;
    font-size: 14px;
    min-width: 30px;
    text-align: center; }
.list-block li a {
    float: left;
    font-weight: bold; }
.list-block li em {
    color: #888888;
    float: right;
    font-style: normal; }
.list-block li .avatar {
    float: left;
    margin-right: 3px; }
.list-block li.alt {
    background: #e4e4e4; }
.list-block li:first-child {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px; }
.list-block li:last-child {
    margin-bottom: 0;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px; }
.list-block li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.sitemap {
    margin-bottom: 36px; }
.sitemap > div {
    margin-right: 20px;
    float: left;
    width: 140px; }
.sitemap > div.last {
    margin-right: 0;
    float: right;
    width: 300px; }
.sitemap h4 {
    margin-bottom: 9px; }
.sitemap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.vote-count {
    text-shadow: 0 1px 2px #dbedff; }

.input-submit {
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
    text-indent: -9000px; }

.form-group:after, .header:after, .entry-meta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

#map {
    width: 614px;
    height: 406px; }

.redirect-message {
    margin: 2.4em 20%;
    padding: 0.8em 1.2em;
    background: #bddfff;
    text-align: center;
    border: 2px solid #9ec8f0;
    font-size: 140%; }

#intro h2, #intro h3 em, .instruction h3, .panel .header h2, .panel .header h3, .group > h3 {
    font-family: Futura, "Futura Std", Arial, sans-serif; font-size: 22px; text-transform: uppercase; }

#search-wrap {
    padding-left: 20px; }

.header h3.popular {
    xbackground: url(../images/icon_hot.png) no-repeat left center; }

.header h3.recent {
    xbackground: url(../images/icon_recent.png) no-repeat left center; }

.header h3.nearby {
    xbackground: url(../images/icon_nearby.png) no-repeat left center; }

.box_icon {
    position: absolute; margin: -1px 0 0 -54px; }





#nav-primary {
    z-index:100;
    margin:0;
    padding:0;
}

#nav-primary .select,
#nav-primary .current {
    margin:0;
    padding:0;
    list-style:none;
    display:table-cell;
    white-space:nowrap;
}

#nav-primary li {
    margin:0;
    padding:0;
    height:auto;
    float:left;
}

#nav-primary .select a {
    display:block;
    float:left;
    font-weight:bold;
    text-decoration:none;
    white-space:nowrap;
}


#nav-primary .select a:hover,
#nav-primary .select li:hover a {
    cursor:pointer;
    background-color: #ebba3d;
    color: #fff;
}

#nav-primary li.first a:hover {
    background: #ebba3d url(../images/menu_left_hov.jpg) no-repeat left top !important;
}

#nav-primary li.search {
    background: url(../images/search_bg.jpg) no-repeat right top;
    padding-bottom: 2px;
}


#nav-primary .select a b{
    font-weight:bold;
}

#nav-primary .select a:hover b,
#nav-primary .select li:hover a b {
    display:block;
    float:left;
    padding:0 30px 0 15px;
    cursor:pointer;
}

#nav-primary .select a.search:hover,
#nav-primary .select li:hover a.search {
    cursor: default;
    background-color: #ffe39c;
    color: #786860;
}


#nav-primary .select_sub {
    display:none;
    background: url(../images/sub_nav_full.jpg) no-repeat center bottom;
    border-radius: 			10px; /* CSS3 */
    -moz-border-radius: 	10px; /* Firefox */
    -webkit-border-radius: 	10px; /* Safari and Chrome */
    -khtml-border-radius: 	10px; /* Linux Browsers */
}

/* IE6 only */
#nav-primary table {
    border-collapse:collapse;
    margin:-1px;
    font-size:1em;
    width:0;
    height:0;
}

#nav-primary .sub {
    display:table;
    margin:0 auto;
    padding:0;
    list-style:none;
}

#nav-primary .sub_active .current_sub a,
#nav-primary .sub_active a:hover {
}

#nav-primary .select :hover .select_sub,
#nav-primary .current .show {
    display:block;
    position:absolute;
    width:100%;
    top:30px;
    padding:0;
    z-index:100;
    left:0;
    text-align:center;
}

#nav-primary .current .show {
    z-index:10;
}

#nav-primary .select :hover .sub li a,
#nav-primary .current .show .sub li a {
    display:block;
    float:left;
    background:transparent;
    padding:0 10px 0 10px;
    margin:0;
    white-space:nowrap;
    border:0;
    color:#555;
    text-transform: none;
    font-weight: bold;
}

#nav-primary .current .sub li.sub_show a {
    color: #fff;
    cursor:default;
}

#nav-primary .select .sub li a {
    font-weight:normal;
}

#nav-primary .select :hover .sub li a:hover,
#nav-primary .current .sub li a:hover {
    visibility:visible;
    color:#fff;
}



/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

.header h3, .header h2, .header h4{
    color:#2EAFA4;
    margin: 5px 0 3px 0;
    padding: 0 10px;
}
.header a{
    color: #2EAFA4;
}

/* user profile*/
h2.icon.user{
}
.profile_top{
    width:400;
    float:left;
    list-style: none;
}
.profile_top li{
    font-weight:normal;
    padding: 0;
    color:#888;
}
.profile_top li span{
    font-weight: bold;
    color: #2EAFA4;
}
.profile_top li.user {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: capitalize;
}
.profile_top li.following {
    background: url(../images/following.png) no-repeat left center;
    padding: 3px 0 3px 25px;
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}
.profile_top li.follow_me {
    background: url(../images/follow.png) no-repeat left center;
    padding: 3px 0 3px 25px;
    margin-top: 5px;
    float: left;
}
.header img.profile_pic{
    float:left;
    margin: 15px 5px 0 10px;
    border: 1px solid #eee;
    padding: 3px 2px;
    box-shadow:			0 0 2px 1px #f1f1f1; /* CSS3 */
    -moz-box-shadow:	0 0 2px 1px #f1f1f1; /* Firefox */
    -webkit-box-shadow:	0 0 2px 1px #f1f1f1; /* Safari and Chrome */
    -khtml-box-shadow:	0 0 2px 1px #f1f1f1; /* Linux Browsers */
}
.idea.teaser{
    background:#fff
}
.inset.comments .comment{
    background:#fff
}
.search_lable a:hover{
    font-weight:bold;
    text-decoration: none;
}

label#anonymous_checkbox{
    display:block;
    float:right;
    width:89%;
    font-weight:bold;
}
#idea_is_anonymous{
    margin-left:36px;
}


.form-group.inline label {
    width: 128px !important;
    margin-right: 0 !important;
}

form#forgot-password .form-submit.inline {
    padding-left: 135px;
}

form#edit_user_form {
    padding: 20px 0;
}

select#user_department_id {
    height: 29px;
    padding: 5px;
    width: 300px;
}

form#edit_user_form .form-group.inline.checkbox {
    padding-left: 130px;
}

form#edit_user_form .form-submit.inline {
    padding-left: 135px;
}

form#edit_user_form .form-group.inline span, form#edit_user_form .form-group.inline a {
    float: left;
    margin-right: 5px;
}

.form-group.inline img.profile_pic {
    float: left;
    border: 1px solid #999;
    padding: 1px;
    margin: 0 10px;
}

input#user_avatar {
    float: left;
}

input#comment_document {
    margin-left: 140px;
    margin-top: 15px;
    height: 22px;
}

.ideas-group .footer .pagination {
    border: none;
    margin: 0;
}

.download a {
    background: url(../images/download.png) no-repeat;
    text-indent: -9999px;
    display: block;
    width: 20px;
    margin-left: 10px;
}

.currents .header > p {
    margin-left: 10px;
}

p.page {
    padding: 4px 10px;
}

body.following .panel, body.advance .panel {
    width: 960px;
}

body.following .panel .header {
    width: 910px;
    padding-top: 30px;
}

table.users_list {
    margin-bottom: 35px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

table.users_list td {
    padding: 0 0 12px 0;
    font-size: 12px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

table.users_list td.name, table.users_list td.department, table.users_list td.links {
    padding: 3px 0 0 15px;
}

table.users_list td.department {
    color: #786860;
}

table.users_list td.pp img {
    font: normal 10px Arial;
    color: #bbb;
}

.filters {
    padding: 20px 30px;
}

.filters h1 {
    font: bold 14px Arial;
    color: #2EAFA4;
    margin: 10px 0 4px 0;
}

.filters #Ideer {
    font: normal 12px Arial;
    color: #888;
    padding: 5px;
    width: 230px;
}

.filters {
    float: left;
    width: 230px;
}

#Idea {
    float: left;
    padding: 30px 25px;
    background-color: #f5f5f5;
}

#Idea .idea.teaser {
    width: 620px;
}
.idea.teaser.launched{
    background:#CCFFCC;
}

.idea_submit {
    color: #2EAFA4;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}


.filters h1 {
    font: bold 14px Arial;
    color: #2EAFA4;
    margin: 10px 0 4px 0;
}
