#masthead > div {
  overflow: hidden;
  height: 110px; }

.nav.user li a, .nav.user li form, .nav.user li label {
  float: left;
  line-height: 24px; }
.nav.user li.search input {
  margin-top: 0;
  padding-top: 3px;
  height: 15px; }

#share .body {
  zoom: 1;
  display: block;
  display: none; }
  #share .body > div {
    overflow: hidden; }
#share .footer h4 {
  float: none;
  left: 0;
  position: absolute; }

#content {
  zoom: 1;
  display: block; }
  #content > div {
    overflow: hidden; }

#comments .form-submit.inline {
  border: 1px dotted #e6ebf0; }

.vote-count {
  float: left; }

.vote-for-it {
  clear: left; }

#footer {
  padding-bottom: 0; }
  #footer > div {
    overflow: hidden; }

.form-group, #instructions, .header, .idea-meta, .entry-meta, .comment, .tag-cloud, .list-block li, .pagination, .sitemap {
  zoom: 1;
  display: block; }

#intro .header h2 {
  margin-bottom: 28px; }
#intro #idea-tags-group #tags .tag a {
  margin: 6px 0 0 -12px;
  height: 10px; }

.instruction h3 {
  padding-top: 2px;
  height: 30px; }

.inset > div > div {
  overflow: hidden; }

.map-enlarge a {
  margin-left: 0; }

#intro #idea-tags-group #tags .tag a {
  margin: 6px 0 0 -12px;
  height: 10px; }

ol.life-cycle-steps {
  margin: 0 0 3em 2em; }

body.admin tr td {
  background-color: #f2f2f2 !important; }
body.admin tr:hover td {
  background: #fff895 !important; }
