%strong Thanks for signing up!
You will receive an email at
%strong=h @user.email
with an activation link. Please follow this link to activate your account. You may begin sharing ideas and posting comments, but your contributions will not be publicly visible until you activate your account.
