This activation link is not valid.
It may have come from an email that is now out of date, or it may be copied only in part.
Please make sure you copied the entire link from the password reset email.
If you like, you can
= link_to 'try again', forgot_password_path
with a fresh password reminder.