%div
  #popular-ideas.main.panel.section.hfeed
    .header
      %h2.icon{ :class => @body_class }
        %table.users_list
          -for user in @users
            %tr.user
              %td.pp
                = image_tag profile_picture(user, :large) , :width=>64,:height=>64 , :class=>'profile_pic large'
              %td.name
                =link_to user.name, profile_path(user)
              %td.department
                %b= user.try(:department).try(:name) || "NA"
              -if current_user == @user && @show_links
                %td.links
                  =link_to 'unfollow', unfollow_path(user)

      =will_paginate (@users)

