%div
  #popular-ideas.main.panel.section.hfeed
    .header
      %h2.icon{ :class => @body_class }
        - for user in @users
          .user
            %h3
              =link_to user.name, profile_path(user)

      =will_paginate (@users)

