%div
  .main.panel.section
    .header
      %h2 Password Reset
      %h3 Check your email!
    .body
      .group
        %p
          We sent an email to
          %strong=h params[:email]
          which will allow you to reset your password. It should arrive within a few minutes. Please check your email.
    .footer
  %hr.hide
  #sidebar.aside
    = render :partial => "shared/sidebar"
    