<%= render :partial => 'shared/home_contributor',
  :collection => User.find_top_contributors(true, :limit => 10),
  :locals => { :points_method => :recent_contribution_points }%>
<div class="plainwrap"></div>