<%= stylesheet_link_tag "idea_form" %>
<div id="intro" class="section">
  <div id ="submit-idea" class="body set_home">
    <%= render :partial => 'ideas/new', :locals => { :small => true } %>
  </div>
</div>