<!--Body Starts -->
<div class="body_wrap">
  <div class="full_wrap">
    <div class="plainwrap">
      <h2 class="title">Om Ideportalen</h2>
      <p>Ideportalen er etableret for at gøre det let og sjovt for medarbejdere at bidrage med ideer til BDO Public. Alle ideer bliver systematisk behandlet. Du kan på Ideportalen se hvor langt dine ideer er i behandlingen og du får besked når andre kommenterer på dem. Du kan med Ideportalen også let følge med i andres ideer, og stemme og kommentere på dem. Dermed bidrager du til at fremme de ideer, som du synes bedst om.</p>

      <h2 class="title" id="spilleregler">Spilleregler</h2>
      <p><b>Ingen ideer er dårlige</b><br/>
        Vi vil altid gerne høre din ide. Fortæl os derfor om den også selv om du ikke har gennemtænkt alle detaljer. Vær ikke bekymret for, om det er lovligt, om det er uden for vores normale kompetencer, om det er meget dyrt osv. Vi har også brug for de vilde ideer til at udfordre vanetænkningen!</p>

      <p><b>180 hjerner er bedre end én</b><br/>
        Hent værdifuld inspiration fra andre og få inspiration eller input til kvalificering eller realisering af din ide. Én kollega har måske tænkt noget i samme retning, en anden måske fra en anden vinkel, eller også kan de bruge elementer fra din ide.</p>

      <p><b>Det er sjovere, når resultatet er synligt</b><br/>
        Ved at dele din ide med kollegaerne opdager du måske, at andre har samme interesser som dig, at de har en viden, du kan gøre brug af osv. Ideer, der ender med at blive realiseret, får stjernestatus og det bliver synligt, hvem der har bidraget til at udvikle ideen.</p>

      <p><b>Det er helt uforpligtende at bidrage</b><br/>
        Du bliver ikke stillet til regnskab og du kan sagtens foreslå en ide uden at være forpligtet til at føre den ud i livet.</p>

      <p><b>Der er ingen garantier</b><br/>
        Du kan ikke regne med, at din ide bliver gennemført, selv om der er stor opbakning til den. Realiseringen af ideen afhænger af flere forhold, herunder hvordan den passer ind i den overordnede strategi for BDO Public.</p>

      <p><b>Vær konstruktiv</b><br/>
        Hold fokus på at fremme ideer. Ideportalens formål er at bygge videre og opdage muligheder. Derfor ønsker vi, at alle bidrag går i en positiv retning på selve portalen. I behandlingen af ideerne efterfølgende foretages en kritisk vurdering.</p>


      <h2 class="title">Særlige ønsker?</h2>
      <p>Har du forslag til et tema, som du synes vi skal sætte fokus på? Det kan være et hot emne i staten eller kommunerne, en forretningsmulighed, ideer til et arrangement mv.</p>
      <p>Kontakt</p>
      <p>
        Karina Simonsen<br/>
        <%= auto_link "ksi@bdo.dk" %><br/>
        Tlf. 24 29 50 90<br/>
      </p>

      <h2 class="title">Om udvikling af Ideportalen</h2>
      <p>Udviklingen af ideportalen har dels haft til formål at systematisere og fremme innovation i BDO Public og dels at eksperimentere med udvikling af løsninger til drift i skyen uden brug af in-house teknisk ekspertise. Al udvikling er foregået med eksterne freelance udviklere og cloudbaserede udviklingsværktøjer.</p>
      <p>Ideportalen er baseret på Open Source og udviklet i Ruby on Rails til drift i Amazons sky og med brug af Amazons cloud services.</p>
      <p>Spørgsmål og kommentarer til Ideportalen kan rettes til:</p>
      <p>Erik Sørup Andersen<br/>
        <%= auto_link "esa@bdo.dk" %><br/>
        Tlf. 51 58 60 35<br/>
      </p>
    </div>
  </div>
</div>
<!--Body Ends -->
<!--Footer Starts -->