<!--Body Starts -->
<div class="body_wrap">
  <div class="full_wrap">
    <div class="plainwrap">
      <h2 class="title">Om Ideportalen</h2>
      <p>Ideportalen er etableret for at gøre det let og sjovt for dig at dele ideer med dine kollegaer uanset hvor du er og uanset hvor de er.</p>
      <p>Ofte opstår en ide ude hos kunden, mens man drøfter en opgave, til et møde, en konference, eller under en snak i kantinen. Men lige så hurtigt den opstår, lige så hurtigt kan den forsvinde igen når telefonen ringer eller man kommer tilbage til en fyldt indbakke.</p>
      <p>Med ideportalen har du mulighed for hurtigt og nemt at registrere din ide. Når ideen er registreret, finder den sammen med andre beslægtede ideer og bliver vist til dem, du samarbejder med i BDO Public. Tilsvarende finder deres ideer vej til dig og sammen kan I inspirere hinanden til at skabe fantastiske forretningsmuligheder.</p>

      <h2 class="title" id="spilleregler">Spilleregler</h2>
      <p><b>Ingen ideer er dårlige</b><br/>
        Vi vil altid gerne høre din ide. Fortæl os derfor om den også selv om du ikke har gennemtænkt alle
        detaljer. Vær ikke bekymret for, om det er lovligt, om det er uden for vores normale kompetencer, om
        det er meget dyrt osv. Vi har også brug for de vilde ideer til at udfordre vanetænkningen!</p>

      <p><b>180 hjerner er bedre end én</b><br/>
        Hent værdifuld inspiration fra andre og få inspiration eller input til kvalificering eller realisering af din
        ide. Én kollega har måske tænkt noget i samme retning, en anden måske fra en anden vinkel, eller også
        kan de bruge elementer fra din ide.</p>

      <p><b>Det er sjovere, når resultatet er synligt</b><br/>
        Ved at dele din ide med kollegaerne opdager du måske, at andre har samme interesser som dig, at de
        har en viden, du kan gøre brug af osv. Ideer, der ender med at blive realiseret, får stjernestatus og det
        bliver synligt, hvem der har bidraget til at udvikle ideen.</p>

      <p><b>Det er helt uforpligtende at bidrage</b><br/>
        Du bliver ikke stillet til regnskab og du kan sagtens foreslå en ide uden at være forpligtet til at føre den
        ud i livet.</p>

      <p><b>Der er ingen garantier</b><br/>
        Du kan ikke regne med, at din ide bliver gennemført, selv om der er stor opbakning til den. Realiseringen
        af ideen afhænger af flere forhold, herunder hvordan den passer ind i den overordnede strategi for BDO
        Public.</p>


      <p><b>Vær konstruktiv</b><br/>
        Hold fokus på at fremme ideer. Ideportalens formål er at bygge videre og opdage muligheder. Derfor
        ønsker vi, at alle bidrag går i en positiv retning på selve portalen. I behandlingen af ideerne
        efterfølgende foretages en kritisk vurdering.</p>


      <h2 class="title">Særlige ønsker?</h2>
      <p>Måske har du en specifik problemstilling eller en forretningsmulighed, du gerne vil have andres ideer og kommentarer til? Vi kan oprette en hovedvej til dig.</p>
      <p>Hvis du gerne vil vide mere om, hvordan du kan bruge portalen, er du velkommen til at kontakte:</p>
      <h3>Erik Sørup Andersen</h3>
      <h3>esa@bdo.dk</h3>
      <h3>tlf. 5158 6035</h3>

      <h2 class="title">Om udvikling af Ideportalen</h2>
      <p>Grundfunktionaliteten i portalen er udviklet af firmaet bustoutsolutions.com, for den amerikanske elektronikvarehuskæde Best Buy. Best Buy besluttede, at løsningen skulle være open source (se http://bbyidx.com/ ). Andre virksomheder og organisationer kan derfor frit bruge løsningen og tilpasse den egne behov. Og det er præcis, hvad vi har gjort.</p>
    </div>
  </div>
</div>
<!--Body Ends -->
<!--Footer Starts -->