%h3 Om Innovation i BDO Public

%p Ideportalen er etableret for at gøre det let og sjovt for dig at dele ideer med dine kollegaer uanset hvor du er og uanset hvor de er.

%p Ofte opstår en ide ude hos kunden, mens man drøfter en opgave, til et møde, en konference, eller under en snak i kantinen. Men lige så hurtigt den opstår, lige så hurtigt kan den forsvinde igen når telefonen ringer eller man kommer tilbage til en fyldt indbakke.

%p Med ideportalen har du mulighed for hurtigt og nemt at registrere din ide. Når ideen er registreret, finder den sammen med andre beslægtede ideer og bliver vist til dem, du samarbejder med i BDO Public. Tilsvarende finder deres ideer vej til dig og sammen kan I inspirere hinanden til at skabe fantastiske forretningsmuligheder.

%h3 Om udvikling af Ideportalen
%p Grundfunktionaliteten i portalen er udviklet af firmaet bustoutsolutions.com, for den amerikanske elektronikvarehuskæde Best Buy. Best Buy besluttede, at løsningen skulle være open source (se http://bbyidx.com/ ). Andre virksomheder og organisationer kan derfor frit bruge løsningen og tilpasse den egne behov. Og det er præcis, hvad vi har gjort.

%h3 Særlige ønsker?
%p== Måske har du en specifik problemstilling eller en forretningsmulighed, du gerne vil have andres ideer og kommentarer til? Vi kan oprette et #{ link_to 'fokusområde', currents_path } til dig og du vælger selv, om alle kan deltage eller om det skal ske efter invitation.

%p== Hvis du har forslag til hvordan vi kan gøre ideportalen bedre, så #{ link_to 'lad os høre om den', suggestions_path }.
%p Hvis du gerne vil vide mere om, hvordan du kan bruge portalen, er du velkommen til at kontakte:

%h4 Erik Sørup Andersen
%h4
  = mail_to 'esa@bdo.dk'
%h4 tlf. 5158 6035
