%h2 About BBYIDX
%p 
  BBYIDX is a free and open source idea-gathering application written in Ruby and distributed under the GNU Affero General Public License. It's the basis of the Best Buy IdeaX website and was created by and supported by 
  = link_to 'Best Buy Enterprise Services Inc', 'http://bestbuy.com'
  and
  = link_to 'Bust Out Solutions, Inc.', 'http://bustoutsolutions.com'
  The standard release is known as BBYIDX and features the ability for users to simply post, tag, comment and vote on ideas. It also features the ability for administrators to moderate incoming ideas and comments as well as assign work-flow to certain ideas for further exploration. It also offers the ability to group ideas by "current" or category to create new "currents" which serve as problems or issues to be solved by comments and moderation. It also features read and write APIs that can be used to make access to an instance of BBYIDX via another website or mobile application.