%h2 Give Us A Shout
%p Have any questions about BBYIDX or want to give us feedback? Feel free to get in touch.
%h3 Email
%strong
  = mail_to "info@bbyidx.com", 'info@bbyidx.com', :encode => 'hex'
%p
%h3 Address
%p
  Best Buy, Inc.
  %br
  7601 Penn Ave. S.
  %br
  Richfield, MN 55423-3645
