%h3 Særlige ønsker?
%p Måske har du en specifik problemstilling eller en forretningsmulighed, du gerne vil have andres ideer og kommentarer til? Vi kan oprette et fokusområde(Make ”fokusområde” a link to currents page) til dig og du vælger selv, om alle kan deltage eller om det skal ske efter invitation.

%p Hvis du har forslag til hvordan vi kan gøre ideportalen bedre, så lad os høre om det.(Make ”lad os høre om den” a link to the current ”Forslag til forbedring af Ideportalen”)

%p Hvis du gerne vil vide mere om, hvordan du kan bruge portalen, er du velkommen til at kontakte:

%h4 Erik Sørup Andersen
%h4= mail_to "esa@bdo.dk"
%h4 tlf. 5158 6035
