%h2 IdeaX&trade; Terms of Use
%p
  Welcome to Best Buy's IdeaXTM Website ("IdeaX").  By registering as a user or by using IdeaX, you agree to be bound by the following Terms of Use as well as the Legal Policies, Conditions of Use, Privacy Policy, and California Privacy Policy that cover the BestBuy.com website as a whole (collectively referred to as the "Governing Policies"). To the extent of any conflict between any of the other Governing Policies and these Terms of Use, these Terms of Use shall control with respect to IdeaX.  These policies are not exhaustive, and Best Buy reserves the right to make changes to these Terms of Use or any of the other Governing Policies at any time.  It is your responsibility to check the Governing Policies for updates. If you do not agree to these terms and conditions, you may not use IdeaX.
%p
  IdeaX is owned and operated by Best Buy.  References to "Best Buy" refer to Best Buy Co. Inc., Best Buy Stores L.P., BestBuy.com, LLC, Best Buy Enterprise Services, Inc., BBY Solutions, Inc., or their affiliates and subsidiaries.
%p
  %strong Termination of Use
  %br
  Best Buy may, at its sole discretion, terminate your use of IdeaX at any time.  Furthermore, Best Buy reserves the right to review your submissions to IdeaX in order to ensure your compliance with our Governing Policies.  Best Buy reserves the right to change, suspend, or discontinue all or any aspects of IdeaX at any time.
%p
  %strong Intended for Users Over 18
  %br
  IdeaX is intended for use by those individual 18 year of age or older.  Users under the age of 18 should get assistance of a parent or guardian to use this site.
%p
  %strong Acceptable Uses
  %br
  By using IdeaX, you agree that you will not:
  %br
  Post content that violates the Governing Policies including, but not limited to, content that is unlawful, threatening, harassing, defamatory, libelous, vulgar, profane, sexually explicit, obscene, or otherwise offensive or objectionable
  %br
  Impersonate another person, entity, or create a username that infringes upon a businesses or individuals trademark rights
  %br
  Post content that would be considered advertising or promotional or any other form of unauthorized solicitation
  %br
  Post content that would infringe any third parties rights including patent, trademark, copyright, or trade secret rights
  %br
  Post content that is confidential to a third party.
%p
  %strong Intellectual Property Rights
  %br
  All content on IdeaX including information, videos, music, graphics, and other material is protected by copyright, trademark, patent, or other rights.  Except as expressly authorized or licensed, you may not copy, reproduce, modify, augment, remove, delete, transfer, sell, lease, rent, or create derivative works from any of the content on IdeaX.
%p
  The Best Buy logos and other trademarks on this site are the property of their respective owners.
%p
  %strong User Submissions and License
  %br
  By using IdeaX, you agree that any information you send to Best Buy via IdeaX, including suggestions, ideas, materials, and comments, (collectively referred to as the "Materials") is non-confidential.  Furthermore, by submitting the Materials using IdeaX, you grant Best Buy and its designees an irrevocable, unrestricted, perpetual, non-exclusive, fully-paid up and royalty free worldwide license to make, use, sell, import, modify, reproduce, transmit, display, perform, create derivative works, combine with other works, and distribute such Materials for any purpose whatsoever to the extent permitted by law. This license to Best Buy includes the right for Best Buy to sublicense these rights to third parties.
%p
  Best Buy may be working on a same or similar idea at the time of your submission.  You understand that we may continue to develop our own idea independent of your submission without acknowledging your Materials.
%p
  As part of its license to your Materials, Best Buy may make modifications to, derivative works of, or improvements to your Materials. These modified or improved versions shall be owned exclusively by Best Buy.
%p
  %strong Submission under a Patent or Patent Application
  %br
  You agree to disclose to Best Buy if your Materials are protected by a patent or subject to a pending patent application.  If your Materials are not yet patented, but you wish to patent your idea in the future, you also agree to disclose this information to Best Buy.
%p
  If your Materials are patented, subject to a pending patent application, or you intend to file for patent protection, these Terms of Use will automatically grant Best Buy a license under the terms of the previous section entitled User Submission and License.  Such license may be superseded only by a separate written license or assignment agreement between you and Best Buy.
%p
  Posting your idea to IdeaX may impact your ability to protect your idea under patent laws.  If your goal is to patent your idea, we suggest you consult with an attorney before posting your idea on IdeaX.  You agree not to hold Best Buy liable for any loss of patent protection.
%p
  %strong Your Responsibilities for your Materials
  %br
  You are responsible for the Materials that you submit to Best Buy.  By making a submission to IdeaX, you represent and warrant that: (a) you own, control, or have permission to use the Materials that you submit to this site; (b) the Materials do not infringe upon the copyrights, trademarks, patents, trade secrets, or any other intellectual property or other legal rights of any person or entity; (c) you will indemnify and hold harmless Best Buy, its parent entity, subsidiaries, and affiliated companies, and all of their respective officers, directors, employees, representatives and agents, from any claims and damages (including reasonable attorneys fees) arising from or relating to the breach or alleged breach of your representations and warranties related to your submission; and (d) the information that you submit to IdeaX is true and accurate at the time of your submission and you will update Best Buy if any of the information regarding your submission changes.
%p
  Best Buy may, at its sole discretion, reject any idea submission and prevent it from being posted on IdeaX.
%p
  %strong Option to Purchase
  %br
  Best Buy has the option to purchase from you all right, title, and interest, including, but not limited to, any intellectual property rights in your Materials.  If Best Buy exercises this option, you agree to accept payment of $1,000 in full consideration for the purchase of these rights relating to your Materials.  Furthermore, you agree to fully cooperate with Best Buy and execute any required documents to complete the transfer of the Materials.
%p
  %strong Severability
  %br
  If any part of these terms is found to be unenforceable, the remainder of these terms will remain in full force and effect.
%p
  %strong Owner and Operator of the IdeaX Website
  %br
  BestBuy.com, LLC, a subsidiary of Best Buy Co., Inc., owns and operates the IdeaX website.
%p
  The website address for IdeaX is bestbuyideax.com.  The mail address for IdeaX is 7601 Penn Ave. S., Richfield, MN 55423-3645.
%p
  \&copy; 2009 BBY Solutions, Inc. All Rights Reserved.
%p
  v. 2.1
  %br
  Last Updated: May 18, 2009
