- if flagged_as_inappropriate?(model)
  %span.flagged{ :title =>t("flag_as_inappropriate")} Flagged as inappropriate
- else
  = link_to_remote t("flag_as_inappropriate"), {:url => flag_inappropriate_path(model.class.name.underscore, model), :update => dom_id, :complete => visual_effect(:highlight, dom_id, :duration => 0.8)}, :class => 'flag', :title => "Flag as inappropriate"
